{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["off"],
    "react/jsx-filename-extension": [0],
    "react/destructuring-assignment": [0],
    "react/require-default-props": [0]
  }
}
